@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
    font-family: 'PT Sans', sans-serif;
    background: rgb(65,65,65);
    color: #fff;
}

#chart {
    height: 500px;
}

.node rect {
    cursor: move;
    fill-opacity: 1;
    shape-rendering: geometricPrecision;
    fill: #FFFFFF;
    stroke: #222222;
    stroke-width: 1.5
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #000;
    font-size: 0.9rem;
    fill: #fff;
}

.node text.fa {
    fill: #000;
    text-shadow: none;
}

.link {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-opacity: .8;
}

.link:hover {
    stroke-opacity: 1;
}
